[submodule "osumo"]
	path = osumo
	url = git://github.com/osumo/osumo.git
[submodule "github-site"]
	path = github-site
	url = git://github.com/osumo/osumo.github.io
[submodule "girder_worker"]
	path = girder_worker
	url = git://github.com/girder/girder_worker.git
[submodule "girder-fixed"]
	path = girder
	url = git://github.com/girder/girder.git
[submodule "sumo_io"]
	path = sumo_io
	url = git://github.com/osumo/sumo_io
