[submodule "osumo"]
	path = osumo
	url = git://github.com/osumo/osumo.git
[submodule "romanesco"]
	path = romanesco
	url = git://github.com/kitware/romanesco.git
[submodule "girder"]
	path = girder
	url = git://github.com/opadron/girder.git
[submodule "github-site"]
	path = github-site
	url = git://github.com/osumo/osumo.github.io
