#! /usr/bin/env bash

cd "$( dirname "$0" )"

export LD_RUN_PATH="/usr/lib32:$LD_RUN_PATH"
export LD_LIBRARY_PATH="/usr/lib32:$LD_LIBRARY_PATH"

source scripts/env

pushd girder
npm upgrade -g npm
npm install -g grunt-cli
npm install --unsafe-perm
python -m girder &

if [ '!' -d initialized ] ; then
    # mkdir initialized
    true
fi

popd

wait

